@charset "UTF-8";
#text1 {
	color: #2588DA;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height: 20%;
	font-size: x-large;
}
body{
	background-image: url("p5c7k.jpg");
}